---
import Page from "../components/Page.astro";
import NavItem from '../components/NavItem.astro';
---
 <link rel="stylesheet" href="./styles.css" />

     <!-- Help from dev.to -->
  <ul class="menu">
  
    <li><a class="menuItem" href="/projects/binary-search/">Binary Project</a></li>
    <li><a class="menuItem" href="/projects/APCSP">APCSP</a></li>
    <li><a class="menuItem" href="/projects/acknowledge page">acknowledge page</a></li>
  </ul>
  <button class="hamburger">

    <!-- material icons https://material.io/resources/icons/ -->
    <i class="menuIcon material-icons">menu</i>
    <i class="closeIcon material-icons">close</i>
  </button>

<Page title="FIXME Portfolio">
  <h1>
    Billys Portfolio
  </h1>
  <h2>Project Menu</h2>

   <nav>
     <ul>
       <NavItem
         title="Binary Search Project"
         link="/projects/binary-search/"
          
         blurb="Click here to see my Binary Project"
       />

       <NavItem
         title="APCSP Portfolio"
         link="/projects/APCSP/"
         imageSrc="/images/portfolio.png"
         blurb="A showcase of all my AP Computer Science Principles projects."
       />

       <!-- Add more projects here in the future -->
     </ul>
   </nav>

  <p>
  <h2>About Me</h2>
    <div>
    <p>William (Billy) Lannan</p>
    <p>17 years old</p>
    <p>High School: Innovation Academy Charter School</p>
    <p>12th grade</p>
    <p>Birth Date: August, 27, 2007</p>
    </p>
    </div>
</Page>
