---
import Project from "../../components/Project.astro"
---

<Project
  title="Acknowledges"
  assignment="Make an acknowledgement page"
>

<p> This page is dedicated to acknowledge the sources that hepled me </p>
<div>
  <p>Mr. Hinkle</p>
  <a>https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0</a>
  <p> Dev.to </p>
  <p> Pico CSS </p>
 </div>
  
   

</Project>
