---
import Project from "../../components/Project.astro"
---

<Project
  title="Acknowledges"
  assignment="Make an acknowledgement page"
>

<p> This page is dedicated to acknowledge the sources that hepled me </p>
<div>
  <p>Mr. Hinkle</p>
  <a>https://super-space-giggle-4j7pw67r5r6p2jvwx-4321.app.github.dev/projects/acknowledge%20page</a>
  <p> Dev.to </p>
  <p> Pico CSS </p>
 </div>
  
   

</Project>
