---
import Project from "../../components/Project.astro"
---

<Project
  title="Portfolio Project"
 assignment="Create a portfolio using Javascript and incorporate a Library"
>
  <p>This project challenged some of my skills, and I learned a lot</p>
  
   &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
   <iframe src="https://iacs-cs.github.io/apcsp-24-25-apcsp-portfolio-apcsp-portfolio-template/"

    title="Portfolio Project"
    width="50%"
    height="500px"
  ></iframe>
  <div>
<a>https://iacs-cs.github.io/apcsp-24-25-apcsp-portfolio-apcsp-portfolio-template/</a>
</div>
</Project>
