---
import Project from "../../components/Project.astro"
---

<Project
  title="Portfolio Project"
 assignment="Create a portfolio using Javascript and incorporate a Library"
>
  <p>This project challenged some of my skills, and I learned a lot</p>
  
   &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
   <iframe src="https://potential-pancake-r4g5pwgxq5rq259j9-4321.app.github.dev/"

    title="Portfolio Project"
    width="50%"
    height="500px"
  ></iframe>
  <div>
<a>https://super-space-giggle-4j7pw67r5r6p2jvwx-4321.app.github.dev/projects/APCSP/</a>
</div>
</Project>
