---
import Project from "../../components/Project.astro"
---

<Project
  title="TImage Filter"
  assignment="Make filters to put on images, using Javascript"

  <p>My group make unique filters, and polished our work</p>
 
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
   
  <iframe src="https://iacs-cs.github.io/image-filter-project-boeing-747/?authuser=1"

    title="Image Filter"
    width="100%"
    height="800px"
  ></iframe>
<a>https://super-space-giggle-4j7pw67r5r6p2jvwx-4321.app.github.dev/projects/Image%20Filter </a
</Project>
