---
import Project from "../../components/Project.astro"
---

<Project
  title="Systems Disease"
  assignment="Choose a disease (I chose the Flu) and create a simulation"

  <p>My project was well done, my group made a great project</p>
 
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
   
  <iframe src="https://iacs-cs.github.io/systems-project-disease-modeling-2014-kia-soretto/"

    title="Mini Turtle Project"
    width="100%"
    height="800px"
  ></iframe>
<a>https://iacs-cs.github.io/systems-project-disease-modeling-2014-kia-soretto/</a
</Project>
