---
import Project from "../../components/Project.astro"

---
 <link rel="stylesheet" href="./styles.css" />

<Project
  title="Turtle Project"
  assignment="Use the Turtle library to draw an image that your group chose"

  <p>My project was well done, my group made a great project</p>
 
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
   
  <iframe src="https://iacs-cs.github.io/mini-turtle-project-chrimus-tee/"

    title="Mini Turtle Project"
    width="100%"
    height="800px"
  ></iframe>
<a>https://iacs-cs.github.io/mini-turtle-project-chrimus-tee/ </a
</Project>
